.Footer {
  background: #fff;
  border-top: 1px solid #eee;
  color: #000;
  font-family: Arial, sans-serif;
  max-height: fit-content;
  margin-bottom: 0px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
  
}

.footer-section {
  margin: 15px;
}

.footer-section h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-section ul li:hover {
  text-decoration: underline;
}



.contact-form input,
.contact-form textarea {

  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  
}

.contact-form button {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #333;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-size: 20px;
}
.footer-bottom {
  background: #000;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
  display: none;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: none;
}

.logo-section img {
  width: 40px;
  height: 40px;
  display: none;
}



/*responsive view*/
@media((max-width:768px)){
    .Footer{
        margin-bottom: 0px;
    }

    .footer-container{
        padding: 2rem 1rem;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 0;
        
    }

    .footer-section{
        
        flex: 1 1 25px;
        margin-bottom: 0;
        text-align:center;
        
    }

    .logo-section{
        flex-direction: column;

    }
    .contact-form{
    display: none;
}
.social-icons{
    justify-content: center;
}
.footer-bottom {
  background: #000;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
  display: flex;
  margin-right: -10px;
  margin-left: -20px;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-section img {
  width: 40px;
height: 40px;
top: 972px;
left: 57px;
margin-left: -150px;
display: flex;
}
.logo-section span{
margin-top: -45px;
margin-left: 50px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

}


