@import "tailwindcss";

/* body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #007c8a; 
  border-radius: 10px;
}

/* Fix for mobile viewport units */
@supports (-webkit-touch-callout: none) {
  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}